<form action="/root/users/reset-password/<%= user._id %>" method="POST">
    <label>New Password:</label>
    <input type="password" name="newPassword" required>
    <button type="submit">Reset Password</button>
</form>
